<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/admin.css">
  <%- include('partials/head.ejs'); %>
</head>
<body>
  <div class="content">
    <div class="container">
      <h2 class="mb-5"><a href="/admin/">Usuarios /</a><a href="/admin/planes">Planes / </a> <a href="/admin/receta">Recetas</a>
        <a href="/admin/cerrarSesion" class="btn btn-danger btn-out">         
          <i class="bi bi-box-arrow-in-right"></i>
        </a>
      </h2>
      <div class="table-responsive">
        <table class="table table-striped user-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Estado</th>
              <th scope="col" class="text-center">Fecha Nacimiento</th>
              <th scope="col">Celular</th>
              <th scope="col">Rol</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
        <tbody>
          <% users.forEach((elements)=>{ %>
            <form action="/admin/disable-user?id=<%= elements.COD_USUARIO %>&estado=<%= elements.ESTADO%>" method="POST">
              <tr>
                <th scope="row">
                  <%= elements.COD_USUARIO %>
                </th>
                <td>
                  <%= elements.NOMBRES %>
                </td>
                <td>
                  <%= elements.APELLIDOS %>
                </td>
                <td>
                  <% if(elements.ESTADO==1){ %> activo <% }else{ %> inactivo <% } %>
                </td>
                <td class="text-center">
                  <%= elements.FECHA_NACIMIENTO%>
                </td>
                <td>
                  <%= elements.CELULAR%>
                </td>
                <td>
                  <% if(elements.COD_ROL==1){ %> Usuario <% } else if(elements.COD_ROL==2){ %> Entrenador <% } else{ %>
                        Administrador <% } %>
  
                </td>
                <td>
                  <% if(elements.ESTADO==1){ %>
                    <input value="Inhabilitar" class="btn btn-danger" type="submit">
                      
                    </input>
                    <% }else{ %>
                      <input class="btn btn-success" type="submit" value="Habilitar">  </input>
                      <% } %>
                </td>
              </tr>
            </form>
              <% }) %>
              <form id="generarForm" method="POST" action="/admin/generarPdf">
                <input type="hidden" name="datos">
                <button class="btn btn-danger" type="submit">
                  <i>PDF</i>
                </button>
              </form>
              <form id="generarForm" method="POST" action="/admin/generarExcel">
                <input type="hidden" name="datos">
                <button class="btn btn-success" type="submit">
                  <i>Excel</i>
                </button>
              </form>
              
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- <script>
    function setAction(formato) {
  const form = document.getElementById('generarForm');
  if (formato === 'pdf') {
    form.action = '/generarpdf';
  }
}
  </script> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>