<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Administrador</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<%- include('partials/navbar.admin.ejs'); %>
<body>
  <div class="container-fluid">
    <p class="display-1 text-center">Registro de usuarios en el aplicativo</p>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Estado</th>
          <th scope="col" class="text-center">Fecha Nacimiento</th>
          <th scope="col">Celular</th>
          <th scope="col">Rol</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((elements)=>{ %>
          <form action="../inicio/disable-user?id=<%= elements.COD_USUARIO %>&estado=<%= elements.ESTADO%>" method="POST">
            <tr>
              <th scope="row">
                <%= elements.COD_USUARIO %>
              </th>
              <td>
                <%= elements.NOMBRES %>
              </td>
              <td>
                <%= elements.APELLIDOS %>
              </td>
              <td>
                <% if(elements.ESTADO==1){ %> activo <% }else{ %> inactivo <% } %>
              </td>
              <td class="text-center">
                <%= elements.FECHA_NACIMIENTO%>
              </td>
              <td>
                <%= elements.CELULAR%>
              </td>
              <td>
                <% if(elements.COD_ROL==1){ %> Usuario <% } else if(elements.COD_ROL==2){ %> Entrenador <% } else{ %>
                      Administrador <% } %>

              </td>
              <td>
                <% if(elements.ESTADO==1){ %>
                  <input value="Inhabilitar" class="btn btn-danger" type="submit">
                    
                  </input>
                  <% }else{ %>
                    <input class="btn btn-success" type="submit" value="Habilitar">  </input>
                    <% } %>
              </td>
            </tr>
          </form>
            <% }) %>
            <form id="generarForm" method="POST" action="admin/generarPdf">
              <input type="hidden" name="datos">
              <button class="btn btn-danger" type="submit" onclick="setAction('pdf')">
                <i>PDF</i>
              </button>
              <!-- <button class="btn btn-success" type="submit" onclick="setAction('excel')">
                <i >EXCEL</i>
              </button> -->
            </form>
            <form id="generarForm" method="POST" action="admin/generarExcel">
              <input type="hidden" name="datos">
              <button class="btn btn-success" type="submit" onclick="setAction('pdf')">
                <i>Excel</i>
              </button>
              <!-- <button class="btn btn-success" type="submit" onclick="setAction('excel')">
                <i >EXCEL</i>
              </button> -->
            </form>
        </tbody>
    </table>
  </div>
  <!-- <script>
    function setAction(formato) {
  const form = document.getElementById('generarForm');
  if (formato === 'pdf') {
    form.action = '/generarpdf';
  }
}
  </script> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>