<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/planes.css" />
    <title>Plan General</title>
  </head>

  <body>
    <%- include('./partials/navbar.ejs'); %> <%-
    include('./partials/nav_img.ejs'); %>
    <div class="features">
      <div class="container">
        <div class="row justify-content-between features-item">
          <div class="col-lg-5 justify-content-center">
            <h2>Descubre el poder de un cuerpo fuerte y tonificado con nuestro entrenador experto</h2>
            <p> Bienvenido/a a nuestro sitio web, donde te presentamos a nuestro entrenador especializado en el desarrollo y fortalecimiento del tren inferior. Algunos de los beneficios incluyen:</p>
            <ul>
              <li>
                <i class="bi bi-check"></i>
                <span>Aumento de la fuerza y potencia en las extremidadesinferiores.</span>
              </li>
              <li>
                <i class="bi bi-check"></i> 
                <span> Mejora de la estabilidad y el equilibrio.</span>
              </li>
              <li>
                <i class="bi bi-check"></i>
                <span>Reducción del riesgo de lesiones en las rodillas, caderas y tobillos.</span>
              </li>
              <li>
                <i class="bi bi-check"></i>
                <span>Estimulación del metabolismo y quema de grasa.</span>
              </li>
              <li>
                <i class="bi bi-check"></i>
                <span>Mejora de la resistencia cardiovascular.</span>
              </li>
            </ul>
            <a href="/productos" class="btn btn-get-started align-self-start">
              <span>Inicia tu Plan</span><i class="bi bi-arrow-right"></i>
          </a>
          </div>
          <div class="col-lg-6">
            <p class="mt-3">
              Nuestro entrenador, Juan Pérez, es un profesional apasionado por
              el acondicionamiento físico y la mejora del rendimiento. Con una
              vasta experiencia en el entrenamiento de atletas, entusiastas del
              fitness y personas que buscan mejorar su salud en general, Juan ha
              perfeccionado un plan único y efectivo para fortalecer el tren
              inferior.
            </p>
            <img src="../img/13.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <!-- Features Item -->
      </div>
    </div>
    <!-- End Features Section -->
    <div class="splash">
      <div id="why-us" class="why-us">
        <div class="container">
          <h1 class="mb-3">Conoce tu Plan</h1>
          <p class="mt-3">
            Hemos creado un plan completo y personalizado que combina ejercicios
            de fuerza, resistencia y flexibilidad, con el objetivo de tonificar,
            fortalecer y mejorar el rendimiento de tu tren inferior.
          </p>
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h2>¿Por qué elegir SWF?</h2>
                <p>
                  En SWF, te ofrecemos un plan de entrenamiento diseñado
                  específicamente para obtener resultados óptimos y mejorar tu
                  bienestar general. Aquí te presentamos las razones por las que
                  deberías elegirnos:
                </p>
                <div class="text-center">
                  <a href="about.html" class="more-btn"
                    >Inicia Ahora<i class="bx bx-chevron-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bi bi-1-circle-fill"></i>
                      <h4>Entrenamiento personalizado</h4>
                      <p>
                        Nuestro entrenador experto impartira sesiones en vivo,
                        brindándote instrucción y apoyo durante tu
                        entrenamiento.
                      </p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bi bi-2-circle-fill"></i>
                      <h4>Enfoque integral</h4>
                      <p>
                        Nos aseguramos de proporcionar una experiencia de
                        entrenamiento completa y equilibrada.
                      </p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bi bi-3-circle-fill"></i>
                      <h4>Acompañamiento y motivación</h4>
                      <p>
                        Actuamos como intermediarios para organizar clases
                        virtuales a través de servidores de Discord.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End .content-->
            </div>
          </div>
        </div>
      </div>
      <!-- End Why Us Section -->
    </div>
    <div id="about" class="about">
      <div class="container">
        <h3 class="mb-3"><%= seller3.nickname %></h3>
        <div class="card-group cards-wrapper">
          <% produc3.forEach( function(data) { %>
          <div class="card" style="width: 20rem">
            <img src="<%= data.thumbnail %>" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><%= data.title %></h5>
              <p class="card-text"><%= data.price %></p>
            </div>
            <div class="card-footer">
              <a
                target="_blank"
                href="<%= data.permalink %>"
                class="btn btn-primary"
                >Comprar</a
              >
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
