<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs'); %>

<link rel="stylesheet" href="css/productos.css">
<title>Productos</title>


<body>
    <!-- NavBar -->
    <%- include('partials/navbar.ejs'); %>
    <%- include('partials/nav_img.ejs'); %>
    <div class="product">
    <div class="container py-3">
        <div class="row py-5">
            <div class="col-lg-5 m-auto text-center">
                <h1>Our Products</h1>
            </div>
        </div>
        <% produc.forEach( function (elements){ %>
        <div class="d-flex flex-row bd-highlight mb-5">
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light">
                    <div class="card-body">
                        <img src="<%= elements.thumbnail %>" alt="" class="img-fluid">
                    </div>
                </div>
                <h6><%= elements.title %></h6>
                <p><%= elements.price %></p>
                <!-- <a class="btn1" href="<%= elements.permalink %>">Buy</a> -->
                <a href="<%= elements.permalink %>" type="button" class="btn btn-light btn btn-outline-dark">Comprar</a>
            </div>
        </div>
        <%
        })
        %>

    </div>
</div>
<section class="splash" id="SectionAbout">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center text-white">
          <h3 class="mb-3">Sobre Nosotros</h3>
          <p>
            Somos un equipo comprometido en ofrecerte un gimnasio virtual de calidad. Nuestro objetivo es brindarte entrenamientos efectivos y accesibles a través de sesiones en línea.Con instructores expertos y un enfoque personalizado, estamos aquí para ayudarte a alcanzar tus metas de bienestar y fitness.Únete a nuestra comunidad y descubre una nueva forma de cuidar tu cuerpo y mente desde cualquier lugar. <br> 
            <strong>¡Bienvenido a nuestro gimnasio virtual!</strong>
            <ul>
                <th>Nuetras redes</th>
                <li>
                    <a href="">Facebook</a>
                </li>
                <li>
                    <a href="">Gmail</a>
                </li>
                <li>
                    <a href="">Instagram</a>
                </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
