<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %>
<link rel="stylesheet" href="../css/inicio.css" />
<link rel="stylesheet" href="../css/footer.css">
<title>Recetas comunidad</title>

<body>
    <%- include('partials/navbar.ejs'); %>

    <%- include('partials/nav_img.ejs'); %>


    <h1>Recetas de la comunidad</h1>
 <!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Crear Recetas
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Recetas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="guardarReceta" method="POST">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" name="NOMBRE">Nombre</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="NOMBRE">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="DESCRIPCION"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Ingredientes</label>
            <input class="form-control" id="exampleFormControlInput1" name="INGREDIENTES">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>
    </div>
  </div>
</div>
<% recipesUser.forEach( function(elements) { %>
  <div class="card" style="width: 20rem">
    <div class="card-body">
      <h5 class="card-title"><%= elements.NOMBRE %></h5>
      <p class="card-text"><%= elements.DESCRIPCION %></p>
    </div>
    <div class="card-footer">
      <a target="_blank" href="" class="btn btn-primary"><%= elements.INGREDIENTES %></a>
    </div>
  </div>
  <% }) %>




    <%- include('partials/footer.ejs'); %>

</body>
<script src="https://kit.fontawesome.com/3b116f099f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/noLog.js"></script>

</html>
